body{
    background-color: #181A1B;
}
a{
    color: #E8E6E3;
}
/*Mainタブ*/
#main_content{
    color: #E8E6E3;
}
    #button_portal {
        background    : #236996;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
    }
    #button_moodle {
        background    : #3D5685;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }
    #button_outlook {
        background    : #109021;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }
    #button_onedrive {
        background    : #906094;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }
    #button_dreamcampus {
        background    : #850707;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        }


/*知プラタブ*/
#chipuraTitle{
    background:linear-gradient(transparent 90%, #CC9600 0%);
    color: #E8E6E3;
    }
    .button_chipura1{
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
    }
    #button_ehime{
        background-color: #B28219;
    }
    #button_kagawa{
        background-color: #2A971A;
    }
    .button_chipura2{
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
    }
    #button_narukyo{
        background-color: #1C5478;
    }
    #button_tokushima{
        background-color: #661C78;
    }
    .button_chipura3{
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
    }
    #button_kochi{
        background-color: #169AB2;
    }

    .button_englishCentral{
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        background-color: #ff4e4e;
    }


/*Twitterタブ*/
    .button_twitterTitle {
        background    : #0087B0;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }

    .button_twitterAd {
        background    : #850707;     /* 背景色     */
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }

/*Movieタブ*/



/*Toolsタブ*/
/*タブのスタイル*/
.tools_tab_item {
    border-bottom: 3px solid #1FA231;  /*下のラインの色*/
    background-color: #2D3133;         /*背景色*/
    color: #97928B;                    /*文字色*/
    }
    /*選択されているタブのスタイルを変える*/
    input:checked + .tools_tab_item {
        background-color: #1FA231;
        color: #EAE7DD;
    }

    /* ▼タブの中身(共通装飾＋非選択状態の装飾) */
    .tools_tab_content{
        background-color: #0A4258; /*背景色*/

    }

    #tools_content{
        color: #E8E6E3;
    }

    /*clockタブ*/
    /*timerタブ*/
    .timer_input{
        border-color: #099dca;
        color: #E8E6E3;
        background-color: #465266;
    }
    .timer_button {
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }
    #start-button{
        background    : #0C91B9;     /* 背景色     */
    }
    #reset-button{
        background    : #707070ee;     /* 背景色     */
    }
    /*ストップウォッチ機能*/
    #stopWatch-start-button{
        background    : #0C91B9;     /* 背景色     */
    }
    #stopWatch-reset-button{
        background    : #8D0405;     /* 背景色     */
    }
    #stopWatch-reset-button2{
        background    : #616161ee;     /* 背景色     */
    }
    .stopWatch_button {
        color         : #E8E6E3;     /* 文字色     */
        box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
        }





/*一番上のタブ*/
/*タブのスタイル*/
.tab_item {
    border-bottom: 3px solid #2B848C;  /*下のラインの色*/
    background-color: #2D3133;         /*背景色*/
    color: #B3ADA5;                    /*文字色*/
    }
    /*選択されているタブのスタイルを変える*/
    input:checked + .tab_item {
        background-color: #2B848C;
        color: #E8E6E3;
    }

    /* ▼タブの中身(共通装飾＋非選択状態の装飾) */
    .tab_content{
        background-color: #0A4258; /*背景色*/
    }